:root {
    --color-verde: #0CD664;
    --color-gris: #31373F;
    --color-gris-oscuro: #1F262F;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #FFFFFF;
    overflow-x: hidden;
    display: flex;
    flex-direction: column; /* Esto permite que el contenido se disponga de arriba hacia abajo */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Esto asegura que el contenido se distribuya entre la parte superior y el pie de página */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Asegura que el fondo cubra toda la pantalla */
    background: 
        linear-gradient(to top, #0cd663be , #191c21); 
        /* url('/assets/img/istockphoto-1670168234-1024x1024.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Envía el fondo atrás del contenido */
}



header{
    display: flex;
    justify-content: end;
    padding: 10px 30px 10px 10px;
    background-color: #31373f59;
}
header img{
    width: 150px;
}
/* links redes */
.conteiner-linksRedes{
    background-color: #31373f59;
    /* width: 200px; */
    /* height: 60px; */
    /* position: absolute; */
    /* right: 10%; */
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px 0 5px 0;
 }
 .linksRedes{
    padding-right: 20px;
    /* padding-top: 5px; */
 }
 .linksRedes img{
    /* width: 25px; */
    margin: 0 5px 0 5px ;
    /* background-color: red; */
 }
 .tiktok img{
    width: 20px;
 }
 .x img{
    width: 20px;
    padding:2px;
 }
 .telegram img{
    width: 23px;
 }
 .instagram img{
    width: 20px;
 }
 .facebook img{
    width: 20px;
 }
 /* fin links redes */

/* separador de color */
 .separator{
    width: 100%;
    height: 5px;
    background: linear-gradient(to right,  
    #0CD664,  /* Verde vibrante */
    #26b06f,  /* Gris con un tono verdoso */
    #9FCF5F,  /* Naranja más verdoso (tono dorado-verde) */
    #0CD664,  /* Amarillo con matiz verde */
    #9FCF5F,  /* Naranja verdoso */
    #26b06f,  /* Gris verdoso */
    #0CD664   /* Verde vibrante */);
    margin: 0px 0 0px 0 ;
 }
/* fin separador de color */

/* container info */

 .container-info {
    background: 
        linear-gradient(to top, #0cd663be , #191c21), 
        url('/assets/img/istockphoto-1670168234-1024x1024.jpg');
    width: 100%;
    height: auto;
     /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    /* padding: 20px; */
    position: relative; /* Necesario para que ::before se posicione correctamente */
}

.container-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px; /* Grosor del borde */
    background: linear-gradient(to right,  
        #0CD664,  
        #26b06f,  
        #9FCF5F,  
        #0CD664,  
        #9FCF5F,  
        #26b06f,  
        #0CD664
    );
}
.container-info::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; /* Grosor del borde */
    background: linear-gradient(to right,  
        #0CD664,  
        #26b06f,  
        #9FCF5F,  
        #0CD664,  
        #9FCF5F,  
        #26b06f,  
        #0CD664
    );
}


 .container-info-sorteo{
    /* background-color: black; */
     width: 50%;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: end;
     margin-top: 15px;
 }
 .container-img-info{
    /* background-color: green; */
    width: 50%;
 }
 .container-img-info img{
    /* width: 200px; */
    width: 85%;
    max-width: 480px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    /* -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%); */
 }
 
 .container-text-info-1y2{
    /* background-color: red; */
    width: 100%;
 }
 .text-info-1{
    /* background-color: red; */
    font-weight: 600;
    font-size: 12px;
 }
 .text-info-2{
    font-size: 40px;
    font-weight: 900;
    text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.500);;
 }
 .container-premios{
    /* background-color: red; */
    display: flex;
    justify-content: center;
 }
 .premio1{
    /* background-color: red; */
    margin-right: 10px;
 }
 .premio2{
    /* background-color: blue; */
    margin-left: 10px;
 }
 .text-premio1-1, .text-info2-1{
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
 }
 .text-premio1-2, .text-info2-2{
    font-weight: 800;
    font-size: 35px;
    font-family: sans-serif;
    line-height: 1.5;
    text-shadow: 
        1px 1px 0px #0fbc5a,   /* Borde superior derecho */
        -1px -1px 0px #0fbc5a, /* Borde inferior izquierdo */
        1px -1px 0px #0fbc5a,  /* Borde superior izquierdo */
        -1px 1px 0px #0fbc5a,
        -2px 2px 5px rgba(0, 0, 0, 0.500);
    }
 .text-premio1-3, .text-info2-3{
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.500);
 }
/* fin container info */

/* container registration */
 .container-registration button{
    background-color: var(--color-verde);
    color: var(--color-gris);
    width: 70%;
    height: 50px;
    font-size: 18px;
    font-weight: 750;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.500);
 }
 .container-registration button:hover{
    background-color: #2ce67c;
    cursor: pointer;
 }
 .container-registration p{
    font-size: 12px;
    font-weight: 600;
    margin: 10px;
 }
 .container-registration p a{
    color: var(--color-verde);
    text-decoration: none;
 }
 .container-registration p a:hover{
    cursor: pointer;
 }
/* fin container registration */

/* footer */
footer {
    margin-top: auto; /* Esto empuja el footer al final */
}
.footerLegales {
    background-color: #1F262F;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
    font-family: var(--font-bold);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
.footerLegales img{
    width: 25px;
}
.footerLegales p{
    font-size: 9px;
}
/* modificado y ver si dejeamos */
 .divInfoFooterLegales{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* width: 50%; */
 }
 /* fin footer */

/* modal resgistration */
 /* modal */
  .modal-{
    overflow: auto;
  }
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; 
    overflow: auto;
}
.modal-conteiner {
    width: 600px;
    /* height: 400px; */
    background-color: #1F262F;
    position: relative; 
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
    font-family: var(--font-bold);
    overflow: auto;
}
.div-close{
    width: 100%;
    text-align: end;
}
.div-close svg{
    width: 20px;
}
.div-close svg:hover{
    cursor: pointer;
}
.div-content-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}
.title-modal{
    font-size: 38px;
    font-family: var(--font-source);
    font-weight: 600;
    margin-top: 15px;
}
.subtitle-modal{
    font-size: 20px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
}
.conteiner-links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}
.conteiner-links a{
    background-color: #0CD664;
    padding: 10px 18px 10px 18px;
    border-radius: 30px;
    margin: 5px;
    color: #000000;
    font-weight: 700;
    font-family: var(--font-source);
    text-decoration: none;
}
.conteiner-links a:hover{
    background-color: #FFFFFF;
}
 /* fin modal registration */

/* modal dialogo whatsapp */
.conteiner-whatsapp-dialogo{
    /* background-color: red; */
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: end;
 }
.conteiner-whatsapp{
    width: 55px;
    height: 55px;
    position: relative;
    /* top: 85%;
    right: 5%; */
    background-color: #0CD664;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 700;
    margin: 5px;
}
.conteiner-whatsapp svg{
   width: 60%;
}
.conteiner-modal-dialogo{
    width: 300px;
    min-height: 100px;
    /* height: auto; */
    max-height: 200px;
    background-color: #F8F8F8 ;
    border: 3px solid #0CD664;
    border-radius: 12px;
    position: relative;
    /* top: 70%; */
    /* right: 5%; */
    z-index: 500;
    margin-right: 35px;
    transform: translateY(25%);
     /* bottom: 30%; */
    overflow: auto;
    animation: slideIn 1s ease-out forwards;
}
@keyframes slideIn {
    from {
        /* right: -10%; */
        opacity: 0%;
    }
    to {
        right: 0%;
        opacity: 1;
    }
}
.conteiner-modal-dialogo::-webkit-scrollbar {
    display: none;
}
.div-close-dialogo{
    /* background-color: red; */
    width: 100%;
    padding: 10px 10px 0px 10px;
}
.div-close-dialogo svg{
    width: 15px;
}
.div-close-dialogo svg:hover{
    cursor: pointer;
}
.div-texto-dialogo{
    /* width: 100%; */
    padding: 5px 15px 15px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1F262F;
    font-size: 15px;
}
 /* fin modal dialogo whatsapp */

/* medias query */
@media (max-width: 1000px) {
    .container-info{
        /* flex-direction: column; */
    }
    .container-info-sorteo{
        align-items: center;
        width: 100%;
    }
    .container-img-info{
        width: 100%;
    }
}
@media (max-width: 850px) {
    .container-info{
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .container-premios{
        /* flex-direction: column; */
    }
    .text-info-2{
        font-size: 35px;
    }
    .text-premio1-2, .text-info2-2{
        font-size: 6vw;
    }
    .text-premio1-3, .text-info2-3{
        font-size: 4vw;
    }
    .text-premio1-1, .text-info2-1{
        font-size: 4vw;
    }
    .footerLegales{
        flex-direction: column;
    }
    .divInfoFooterLegales{
        order: 2;
    }
    .linksRedes{
        order: 1;
        /* margin-bottom: 30px; */
    }
    .linksRedes{
        padding-right: 0px;
     }
}
@media (max-width: 400px) {
    
    .premio2{
        /* margin-top: 10px; */
    }
    .linksRedes{
        margin-right: 0px;
    }
}
@media (max-width: 370px) {
    header{
        justify-content: center;
        padding: 10px 0 0 0;
    }
    header img{
        width: 150px;
    }
    .conteiner-linksRedes {
        /* justify-content: center; */
    }
    
    .linksRedes {
        padding-right: 0;
        /* text-align: center; */
    }
    .conteiner-modal-dialogo{
        width: 150px;
        /* height: ; */
    }
}
/* fin medias query */